/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: powderblue; 
}
ul{list-style-type: none;
border:10px solid pink;
background-color: powderblue;
text-align:center;
} 
li{display:inline;
padding:6px;
 
}

pre { 
  color: pink; 
  font-weight: bold;
  font-family: 'Times New Roman', serif; 
  font-size: 30px;

p { 
  color: powderblue;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
body {
   background-color:bisque;

}
